---
BasedOnStyle: Microsoft
---
Language: Cpp
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: Inline
BraceWrapping:
  AfterCaseLabel:  true
  AfterClass:      true
  AfterControlStatement: Always
  AfterEnum:       true
  AfterExternBlock: true
  AfterFunction:   true
  AfterNamespace:  true
  AfterObjCDeclaration: true
  AfterStruct:     true
  AfterUnion:      false
  BeforeCatch:     true
  BeforeElse:      true
  BeforeLambdaBody: false
  BeforeWhile:     false
  IndentBraces:    false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
BreakTemplateDeclarations: Yes
ColumnLimit: 132
Cpp11BracedListStyle: false
EmptyLineBeforeAccessModifier: Always
IndentCaseLabels: true
IndentWidth: 2
InsertNewlineAtEOF: true
PackConstructorInitializers: CurrentLine
QualifierAlignment: Left
SeparateDefinitionBlocks: Leave
SpaceAfterTemplateKeyword: false
SpaceInEmptyBlock: true
UseTab: Never
...
