---
# Enable checks from the modernize and readability modules
Checks: >
  bugprone-*,
  cert-*,
  concurrency-*,
  cppcoreguidelines-*,
  hicpp-*,
  misc-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  -cppcoreguidelines-avoid-c-arrays,
  -modernize-use-trailing-return-type,
  -readability-braces-around-statements,
  -readability-magic-numbers,
  -readability-redundant-access-specifiers

# Only run on your own headers
HeaderFilterRegex: '^(include|src|tests)'

# Use Microsoft formatting style
FormatStyle: Microsoft
...
