# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Custom
.build
.cache
build
build-linux
.DS_Store
.idea
out
cmake-build-*
.cache
Thumbs.db

# App dependencies
app/**/node_modules/
app/**/dist/
app/**/target/
app/desktop/src-tauri/bin/
app/desktop/src-tauri/ddd-x86_64-*
app/desktop/src-tauri/error_log.txt

# Project files
DastardlyDungeonDwellers.cfg
out/
